body {
    background-image: url(unnamed.jpg);
    background-color: #cccccc;
    font-family: 'Gluten';
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 25px;
    padding: 10px;
}

img {
    width: 475px;
    height: 350px;
    border: 7px solid black;
    border-radius: 25px;
    margin-right: 35px;
    margin-left: 35px;
}

.subheader {
    font-size: 35px;
    padding: 10px;
}

.parent1 {
    background-color: rgb(233, 235, 255);
    border: 10px solid;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.child1 {
    font-size: 70px;
}

.parent2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.child2 {
    background-color: rgb(233, 235, 255);
    border: 7px solid;
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 50px;
    padding: 15px;
    font-size: 20px;
}

.child3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
}