body {
    background-image: url(IMG_3874.jpeg);
    background-color: #cccccc;
    font-family: 'Gluten';
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 25px;
}

img {
    width: 400px;
    height: auto;
    border: 7px solid black;
    border-radius: 25px;
    margin: 60px;
}

.subheader {
    font-size: 35px;
    padding: 10px;
}

.parent1 {
    background-color: rgb(233, 235, 255);
    border: 10px solid;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.child1 {
    font-size: 70px;
}

.child2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child3 {
    
}